################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/VogCodeChallenge.API/bin/Debug/netcoreapp2.2
/VogCodeChallenge.API/obj
/VogCodeChallenge.API.tests
/VogCodeChallenge.Console
